* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Gotham-Book";
}
.container-about {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.bg {
  width: 100vw;
  max-width: 100vw;
  height: 60vh;
  object-fit: cover;
  vertical-align: middle;
}

.first-container {
  display: flex;
  flex-direction: row;
  margin: 40px;
}

.first-container .topic-1 {
  margin: 4rem;
  font-size: 21px;
  line-height: 32px;
  font-weight: bold;
  text-align: center;
}

.first-container .topic-2 {
  text-align: center;
  margin: 4rem;
  font-family: "Gotham-Book";
  background-color: #fff;
  font-size: 23px;
  color: #505152;
}

.work h1 {
  text-align: center;
  margin: 0rem 4rem 0rem 4rem;
  padding-bottom: 1rem;
  font-size: 3rem;
  text-transform: uppercase;
  color: rgb(48, 99, 48);
}

.work p {
  margin: 0rem 4rem 3rem 4rem;
  font-size: 1.2rem;
  text-align: center;
}

@media screen and (max-width: 690px) {
  .first-container {
    flex-direction: column;
  }
}

@media screen and (max-width: 490px) {
  .first-container {
    margin: 0px;
    padding: 0px;
  }
}
