.bg-img {
  width: 100%;
  max-width: 100vw;
  height: 50vh;
  object-fit: cover;
  vertical-align: middle;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  /* background-color: whitesmoke; */
}
.container h1 {
  margin-top: 2rem;
  font-size: 4rem;
  font-family: "Times New Roman", Times, serif;
  text-transform: uppercase;
  color: rgb(48, 99, 48);
}

.container p {
  margin: 2rem 4rem 0rem 4rem;
  font-size: 1.5rem;
}

.container span {
  text-align: center;
  font-size: 1.6rem;
  font-weight: bold;
  /* text-decoration: underline; */
  margin: 2rem;
}

.container div {
  margin: 0 4rem 3rem 4rem;
  text-align: center;
  font-size: 1.2rem;
}
