/* .container {
  display: flex;
  flex-direction: column;
} */

.terms {
  font-size: 1.2rem !important;
}

.container p {
  margin: 2rem 4rem 0rem 4rem;
  font-size: 1rem !important;
}

.input {
  justify-content: left;
}

.btn {
  background-color: rgb(48, 99, 48) !important;
  border: none !important;
}

@media screen and (max-width: 1200px) {
  .container div {
    margin: unset !important;
  }
  .header {
    font-size: 40px !important;
    font-weight: bold;
  }
}
