@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0%;
  box-sizing: border-box;
}
.app {
  min-height: 100vh;
  color: rgb(48, 99, 48);

  /* min-width: 100vw; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.input-form {
  border: 5px solid rgb(48, 99, 48);
  width: 35rem;
  height: 50rem;
  border-radius: 25px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  font-size: 20px;
}
/* .input-form:hover {
  transform: scale(0.7);
  background-color: whitesmoke;
} */
.input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.field {
  height: 40px;
  width: 100%;
  font-size: 20px;
  border-radius: 18px;
  border: none;
  padding: 15px;
  border: 2px solid rgb(214, 213, 213);
}

.password {
  font-size: 20px;
  color: rgb(175, 45, 45);
  text-transform: none;
  font-weight: normal;
}

.terms {
  color: rgb(175, 45, 45);
  cursor: pointer;
}

.btn {
  background-color: rgb(48, 99, 48);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.btn:hover {
  background-color: whitesmoke;
  border: 1px solid rgb(161, 158, 158);
  color: rgb(48, 99, 48);
  font-weight: bold;
}

.checks {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
  gap: 15px;
}

.check {
  margin: 10px;
}

.header {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
}

.errors {
  color: red;
  font-size: 11px;
  padding-left: 25px;
}
