.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: whitesmoke;
  position: sticky;
  overflow: hidden;
  top: 0;
  flex-wrap: wrap;
  width: 100%;
}

.navbar .name {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 4rem;
  font-size: 25px;
  font-weight: bold;
  color: rgb(48, 99, 48);
}
.navbar .link-div {
  width: 30rem;
  min-height: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  gap: 25px;
  font-size: 20px;
  flex-wrap: wrap;
}

.links {
  padding-right: 2.5rem;
  text-decoration: none;
  color: rgb(48, 99, 48) !important;
}
.links:hover {
  font-weight: bold;
  transform: scale(1.2);
  transition: all 0.3s ease-in-out;
}
